<h4>Hie There,</h4>

<%if(locals.user) {%>
<section id="feed-posts">
    <h4>POST The Text</h4>
    <form action="/posts/create" id="new-post-form" method="post">
        <textarea name="content" col="30" row="3" placeholder="Write A POST" required></textarea>
        <input type="submit" value="post">
    </form>

<%}%>
    <div id="posts-list-container">
        <ul>

            <% for (post of posts) {%>
            
               <%-include('_post')-%>
           
            
            <%}%>
        </ul>
    </div>
</section>


<section id="user-friends">
    <h4>User Friends</h4>
    <%for(u of allUsers) {%>
        <p>
            <a href="/users/profile/<%=u.id%>"><%=u.name%></a>
        </p>
    <%}%>
</section>


