<h1>SIGN IN</h1>

<form action="/users/create-session">
    <input type="text" name="email" placeholder="Your Email">
    <input type="text" name="password" placeholder="Your password">
    <input type="submit" name="Sign In">
</form>