<link rel="stylesheet" href="/css/user_profile.css">


  <!-- In your user_profile.ejs view -->
<h2>User Profile</h2>

   
  <p>Name: <%= profile_user.name %></p>
  <p>Email: <%= profile_user.email %></p>
  
