<link rel="stylesheet" href="/css/user_profile.css">


  <!-- In your user_profile.ejs view -->
<h2>User Profile</h2>
<% if (user) { %>
   
  <p>Name: <%= user.name %></p>
  <p>Email: <%= user.email %></p>
  
<% } else { %>
  <p>User not authenticated</p>
<% } %>