/* Reset default margins/padding */
body, h4, p, ul, li, form {
  margin: 0;
  padding: 0; }

/* Apply basic styles to the form and input */
#new-post-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column; }
  #new-post-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    color: #210404;
    resize: vertical; }
  #new-post-form input[type="submit"] {
    align-self: flex-end;
    padding: 8px 15px;
    background: #1a1a1a;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer; }

/* Style the list of posts */
#posts-list-container {
  margin-top: 20px; }
  #posts-list-container ul {
    list-style-type: none; }
    #posts-list-container ul li {
      margin-bottom: 10px;
      padding: 15px;
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(5px);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 5px; }
      #posts-list-container ul li p {
        color: white; }
      #posts-list-container ul li small {
        color: #bbbbbb; }
